extends layout

block content

  img.poster(src='/images/angularjsftw_logo.png')

  h1 Come learn AngularJS
  p.sub with me!

  .profile
    .image
    p Glen Maddern
    a.small(href='http://twitter.com/glenmaddern', target='_blank') @glenmaddern

  p.bio
    | I've been working with AngularJS at my day job at&nbsp;
    a(href='http://goodfil.ms') Goodfilms
    |  for nearly a year,
    | after becoming frustrated with the alternatives, and I've never looked back.
    | So far I've built the&nbsp;
    a(href='http://goodfil.ms/blog/posts/2012/08/13/angularjs-and-the-goodfilms-mobile-site-part-1/', target='_blank')
      | Goodfilms mobile site
    |  as well as an&nbsp;
    a(href='http://goodfil.ms/graph', target='_blank') interactive movie graph
    |  using D3.js.

  p.bio
    | I've presented at MelbJS in Jan 2013 (
    a(href='http://melbjs-preso.angularftw.com/', target='_blank') slides
    | ) and Melbourne Ruby in June 2012 (
    a(href='http://sup-angularjs.herokuapp.com/') slides
    | ), and posted a bunch of random experiments on my&nbsp;
    a(href='http://github.com/geelen') github
    |  profile.

  hr

  h3 You will learn:
  ul
    li Why AngularJS <strong>wins at the internet</strong>.
    li How to add Angular to <strong>an existing project</strong>.
    li The <strong>fundamental building blocks</strong> of an AngularJS application.
    li How to <strong>structure</strong>, <strong>test</strong>, and serve AngularJS <strong>in production</strong>.
    li How to <strong>build cool stuff</strong> quickly and maintainably!

  hr

  h3 The details
  ul
    li Melbourne CBD, Saturday February 8th (TBC)
    li 9am to 1pm with a short break
    li $300 per person

  hr

  a.cta(href='http://eepurl.com/tNRNH') Sign me up!

  hr

