extends layout

block content

  img.poster(src='/images/angularjsftw_logo.png')

  h1 Come learn AngularJS
  p.sub with me!

  .profile
    .image
    p Glen Maddern
    a.small(href='http://twitter.com/glenmaddern', target='_blank') @glenmaddern

  p.bio
    | I've been working with AngularJS at my day job at&nbsp;
    a(href='http://goodfil.ms') Goodfilms
    |  for nearly a year,
    | after becoming frustrated with the alternatives, and I've never looked back.
    | So far I've built the&nbsp;
    a(href='http://goodfil.ms/blog/posts/2012/08/13/angularjs-and-the-goodfilms-mobile-site-part-1/', target='_blank')
      | Goodfilms mobile site
    |  as well as an&nbsp;
    a(href='http://goodfil.ms/graph', target='_blank') interactive movie graph
    |  using D3.js.

  p.bio
    | I've presented at MelbJS in Jan 2013 (
    a(href='http://melbjs-preso.angularftw.com/', target='_blank') slides
    | ) and Melbourne Ruby in June 2012 (
    a(href='http://sup-angularjs.herokuapp.com/') slides
    | ), and posted a bunch of random experiments on my&nbsp;
    a(href='http://github.com/geelen') github
    |  profile.

  hr

  h3 You will learn:
  ul
    li Why AngularJS <strong>wins at the internet</strong>.
    li The <strong>fundamental building blocks</strong> of an AngularJS application.
    li How to <strong>structure</strong>, <strong>test</strong>, and serve AngularJS <strong>in production</strong>.
    li How to <strong>build cool stuff</strong> quickly and maintainably!

  hr

  h3 Course Outline
  ul
    li The <strong>AngularJS philosophy</strong> & introduction to the <strong>core concepts</strong>.
    li How to use <strong>Directives & Filters</strong> to defeat your enemies.
    li Scaffolding an app with <strong>Yeoman</strong> to reduce boilerplate to 0.
    li The <strong>ease of testing</strong> your app at both unit & end-to-end levels.
    li <strong>Communicating between controllers</strong> and handling global state.
    li Decomposing your application into <strong>Services & Factories</strong>
    li Understanding how Angular's <strong>dependency injection</strong> wires everything up.
    li How to resolve <strong>common pitfalls</strong> to avoid rage.

  hr

  h3 Get involved!
  ul
    li <strong>Saturday February 9th</strong>
    li Inspire9, Level 1, 41 Stewart St, Richmond VIC
    li 9am to 1pm with a short break, then down to the pub for a chat.
    li $300 per person (GST + fees included).
    li <strong>A small group</strong> (max 8) of similarly awesome people to learn with.
    li It'll be hands-on, so <strong>bring your laptop</strong>!

  hr

  <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com.au/tickets-external?eid=5391116976&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com.au/r/etckt">Sell Tickets</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com.au?ref=etckt">Eventbrite</a></div></div>

  hr
